.App {
  font-family: sans-serif;
  text-align: center;
}

body {
  margin: 0;
  font-family: arial;
  margin-bottom: 100px;
}

main {
  margin: 30px;
  text-align: justify;
}

header,
footer {
  background-color: #b3bfb8;
  text-align: center;
  padding: 5px;
}

h1 {
  text-align: right;
  color: #f0f7f4;
  margin: 0;
  display: inline-block;
}

.navBox {
  list-style: none;
  margin: 0;
  display: inline-block;
}

.navItem {
  display: inline-block;
  padding: 5px 10px;
  color: #3c493f;
}

li:hover {
  color: #f0f7f4;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 7px;
}
